.RulesComponent-body {
    width: 80%;
    text-align: center;
    align-content: center;
    margin: auto;
    font-size: 20pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}